@model IEnumerable<ProdutosModel>


@{
}

<link href="~/css/Produtos/Produtos.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="div_titulo">
    <h1>@Model.First().Tipo</h1>
</div>

<div class="Conteudo">
    @foreach (var item in Model)
    {
        <div class="div_item">

            <div class="div_nome">
                <h4>@item.Nome</h4>
            </div>

            <div class="div_preco">
                <p>R$ @item.Price</p>
            </div>

            <div class="div_botao">
                <a class="btn btn-secondary" asp-controller="Produtos" asp-action="Detalhes" asp-route-id="@item.ProdutoID">Ver Produto</a>
                <button class="btn btn-danger" onclick="Delete(@item.ProdutoID,'@item.Nome')">Excluir</button>
            </div>

        </div>
    }
</div>
<script>

    function Delete(id, name){
        
        console.log(id)

        if(!confirm(`Deseja excluir ${name}?`)){

            return;
        }

            $.ajax({
                  url: `/Produtos/Delete/${id}`,
                  method: "POST",
                  contentType: "application/json",
                  dataType: "json",
                  data: JSON.stringify({nome: name, numero : 55}),
                  success: function(response){
                    alert(response.message)
                  },
                  error: function(error){
                    alert(error.message)
                  }
            });

    }

</script>