@model IEnumerable<ProdutosModel>


@{
}

<link href="~/css/Produtos/Produtos.css" rel="stylesheet" />

<div class="div_titulo">
    <h1>@Model.First().Tipo</h1>
</div>

<div class="Conteudo">
    @foreach (var item in Model)
    {
        <div class="div_item">

            <div class="div_nome">
                <h4>@item.Nome</h4>
            </div>

            <div class="div_preco">
                <p>R$ @item.Price</p>
            </div>

            <div class="div_botao">
                <a class="btn btn-secondary" asp-controller="Produtos" asp-action="Detalhes" asp-route-id="@item.ProdutoID">Ver Produto</a>
                <button class="btn btn-danger" onclick="Delete(@item.ProdutoID, '@item.Nome')">Excluir</button>
            </div>

        </div>
    }
</div>
<script>

    async function Delete(id, nome){
        
        console.log(id)
        if(!confirm("Vai excluir o produto mesmo chefe?")){

            return ;
        }
        
        const response = await fetch('/Produtos/Delete',{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id : id})
        });
        
        console.log("Resposta do servidor:", response);

        const result = await response.json();

        console.log("Dados do servidor:", result);

        if(result.success){
            alert(result.message)
        }
        else{
            alert(result.message)
        }

    }

</script>